<template>
    <lightning-card>
        <div class="slds-p-around_x-small">
        <lightning-layout multiple-rows="true" if:false={recordId}>
            <template for:each={listField} for:item="field">
                <lightning-layout-item padding="around-small" size="6" key={field.Id}>
                    <div class="page-section page-header">
                        <lightning-input type={field.type} label={field.label} name={field.apiName}
                            required={field.isRequired} onchange={onChangeHandler} key={field.apiName}></lightning-input>
                    </div>
                </lightning-layout-item>
            </template>
            <lightning-button variant="neutral" label="Save" onclick={createStudentHandler} class="slds-m-left_x-small">
            </lightning-button>
            <lightning-button variant="neutral" label="Cancel" onclick={cancelHandler} class="slds-m-left_x-small">
            </lightning-button>
            
        </lightning-layout>          
    </div>      
    </lightning-card>
    <template if:true={recordId}>
        <lightning-layout multiple-rows="true" >
            <template for:each={listField} for:item="field">
                <lightning-layout-item padding="around-small" size="6" key={field.Id}>
                    <div class="page-section page-header">
                        <lightning-input type={field.type} label={field.label} name={field.apiName}
                            required={field.isRequired} onchange={onChangeHandler} key={field.apiName} value ={field.val} disabled={dis} checked={field.val}></lightning-input>
                    </div>
                </lightning-layout-item>
            </template>
            
            <lightning-button if:true={dis} variant="neutral" label="EDIT" onclick={buttonToggle} class="slds-m-left_x-small">
            </lightning-button>
            
           
                <lightning-button if:false={dis} variant="neutral" label="SAVE" onclick={createStudentHandler} class="slds-m-left_x-small">
                </lightning-button>
                
            <lightning-button if:false={dis} variant="neutral" label="Cancel" onclick={resetval} class="slds-m-left_x-small">
            </lightning-button>
            
        </lightning-layout>
    </template>
</template>

